
.signin-form{
    margin-top: 90px;
    /*margin:70px auto 0px auto;*/
    color: rgba(102, 51, 153, 0.84);


}
h1.login-header {
    color: white;
    background: rebeccapurple;
    font-family: sans-serif;
    margin: 0;
    padding: 12px;
}