/*--------header--------------------------*/
.h3,hr,th,td{
    padding: 0!important;
    margin: 0!important;
}
.container-fluid {
    padding: 0!important;
}
.header{}
.wrapper{
    padding: 0!important;
}
.btn-logout {
    background-color: rgba(255, 255, 255, 0.96);
    margin-top: 3px;
}
/*--------side-bar--------------------------*/
.side-bar h3{
    margin-top: 0;
}
.side-bar{
    padding: 0!important;
    background-color: #222;
}

.side-bar a:hover {
    transition: 2s;
color: #a94a42;
}
a:active {
    text-decoration: underline;
}
.side-bar a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding: 17px 19px;
}
.list-group-item{
     background-color: transparent!important;
    border: none!important;
}
.side-bar ul{
    margin-top: 61px;
}
/*--------customer-action--------------------------*/
.cus-action{
    padding: 0!important;

}
.cus-insert{
    margin-top:20px;
}
/*--------------login----------*/

.signin-form{
    margin-top: 90px;
    /*margin:70px auto 0px auto;*/
    color: rgba(102, 51, 153, 0.84);


}
h1.login-header {
    color: white;
    background: rebeccapurple;
    font-family: sans-serif;
    margin: 0;
    padding: 12px;
}
/*-------notification-----*/
.notification .dropdown-menu{
    margin: 0px 2px 0!important;
    min-width: 231px!important;
}

/*-----------*/
.sign-in {
    display:inline;
}

.sign-in a{
    color: white!important;;
}
.sign-in li {
    display:inline-block;
    margin-top: 10px;
}

.language-dropdown i.fa-globe,
.sign-in li i {
    font-size: 14px;
    color: white;
    margin-right: 5px;
}

.sign-in li:last-child {
    position: relative;
    padding-left: 10px;
}

.sign-in li:last-child:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 7px;
    height: 14px;
    content:"";
    margin-top: -7px;}
