.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5
,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,
.col-lg-11,.col-lg-12,h3,h5,h4,h2{
    margin:0;
    padding: 0;
}
.main{
    background-color:#fffff;
    height: 600px;
}
.logo{
    background-color: #1b6d85;
    margin-top: 20px;
    height: 90px;
}
.header{
    height: 70px;
    background-color: #00BDFF;
}
.country{
    height: 60px;
    margin-top: 10px;
    background-color: rosybrown;
}
.status{
    height: 60px;
    margin-top: 10px;
    background-color: rosybrown;
}
.wrapper{
    height: 600px;
    background-color: #1b6d85;
}
.cat{
    height: 600px;
    background-color: rebeccapurple;
}
.cat ul {
   list-style: none;
}

.cat ul a {
    text-decoration: none;
    padding: 15px 2px;
    color: white;
    font-size: 28px;
}
.cat ul a:hover{
    transition: 1s;
    color: lightseagreen;

}
.product{
    height: 600px;

    background-color: #e4b9b9;
}
.prod_body{
    margin-top:10px ;
    margin-left:50px ;
}


.site-paging a {
    text-decoration: none;
    padding: 6px 19px;
    font-size: 17px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.site-paging a:hover{
    background-color: #222222;
    color: #ffffff;
    transition: 2s;
}
.site-paging a:active{
    background-color: #222222;
    color: red;
}
/*---------chat app--------*/
.chat{
    width: 250px;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
}

@media (max-width: 1000px) {

    .chat{
        width: 250px;
        background-color: transparent;
        height: 200px;
        position: fixed;
        top:45%;
    }
}
.msg-wgt-body{
    overflow-y: scroll;
    width: 250px;
    background-color: #FFFFFF;
    height: 200px;
}
.msg-wgt-body table{
    width: 100%;
    font-size: 90%;
}
.msg-wgt-body tr{
   padding-bottom:10px ;
}
.msg-body{
    padding: 2px;
}
.avatar {
    width: 33px;
    height: 33px;
    float: left;
    border: 1px solid lightgray;
}
.msg-wgt-footer{
    width: 100%!important;
    overflow: hidden;
}

.msg-wgt-time{    margin-left: 46px;
    color: rgba(128, 128, 128, 0.63);
}