
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5
,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,
.col-lg-11,.col-lg-12,h3,h5,h4,h2,hr{
    margin:0!important;
    padding: 0!important;
}
/*--------side-bar--------------------------*/

.dropdown-menu{
    left: -31px!important;
    min-width: 190px!important;
}


/*-----------------*/
.side-bar h3{
    margin-top: 0;
}
.side-bar{
    padding: 0!important;
    background-color: #222;
}

.side-bar a:hover {
    transition: 2s;
    color: #a94a42;
}
a:active {
    text-decoration: underline;
}
.side-bar a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding: 17px 19px;
}
.list-group-item{
    background-color: transparent!important;
    border: none!important;
}
.side-bar ul{
    margin-top: 61px;
}
/*--------customer-action--------------------------*/