@font-face{font-family:'ic';src:url('../font/ic.eot?61215835');src:url('../font/ic.eot?61215835#iefix') format('embedded-opentype'),
url('../font/ic.woff?61215835') format('woff'),
url('../font/ic.ttf?61215835') format('truetype'),
url('../font/ic.svg?61215835#ic') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"]:before, [class*=" icon-"]:before{font-family:"ic";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-basket:before{content:'\62';}
.icon-cancel:before{content:'\63';}
.icon-facebook:before{content:'\66';}
.icon-gplus:before{content:'\67';}
.icon-instagramm:before{content:'\69';}
.icon-left-arrow:before{content:'\6c';}
.icon-play:before{content:'\70';}
.icon-right-arrow:before{content:'\72';}
.icon-twitter:before{content:'\74';}
.icon-youtube:before{content:'\79';}
.icon-search:before{content:'\e800';}
.icon-asc:before{content:'\e801';}
.icon-desc:before{content:'\e802';}
.icon-linkedin:before{content:'\e806';}
.icon-pinterest:before{content:'\e807';}
.icon-flight:before{content:'\e80e';}
.icon-phone:before{content:'\e80f';}
.icon-vimeo:before{content:'\e810';}
.ic_tybe{background:url('../img/main/ic_tybe.png?1000') center center no-repeat, #fff;max-width:32px;max-height:32px;}
@font-face{font-family:'icofeatures';src:url('../fonts/icofeatures.eot?2y46ji');src:url('../fonts/icofeatures.eot?#iefix2y46ji') format('embedded-opentype'),
url('../fonts/icofeatures.ttf?2y46ji') format('truetype'),
url('../fonts/icofeatures.woff?2y46ji') format('woff'),
url('../fonts/icofeatures.svg?2y46ji#icofeatures') format('svg');font-weight:normal;font-style:normal;}
[class^="icofeatures-"], [class*=" icofeatures-"]{font-family:'icofeatures';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#007CB1;font-size:66px;line-height:85px;}
.icofeatures-credit_card:before{content:"\e600";}
.icofeatures-delivery:before{content:"\e601";}
.icofeatures-shield:before{content:"\e602";}
.icofeatures-money:before{content:"\e603";}